<html>
<head>
<title>Insert Crime Info </title>
</head>

<body>
<h1>Insert Crime Info </h1>
<form action="http://127.0.0.1:8000/crime_app/insert_crime/" method="POST">
{% csrf_token %}
ID: <input type="number" name="ID"/><br/>
Time: <input type = "datetime" name = "Time"/><br>
Type: <input type="text" name="Type"/><br/>

Area_id: <input type="number" name="Area_id"/><br/>
<input type="submit" value="Submit"/>
</form>

{%if c%}
<li> {{c.ID}} </li>
<li> {{c.Time}} </li>
<li> {{c.Type}} </li>

<li> {{c.Area_id}} </li>
<p> has been inserted </p>
{%endif%}
{%if incomplete%}
{{incomplete}}
{%endif%}
</body>

</html>
