<html>
<head>
<title>Insert District Income Info </title>
</head>

<body>
<h1>Insert District Income Info </h1>
<form action="http://127.0.0.1:8000/crime_app/insert_district/" method="POST">
{% csrf_token %}
Neighborhood: <input type="text" name="Neighborhood"/><br/>
Population: <input type="number" name="Population"/><br/>
Home Value: <input type="number" name="Home_Value"/><br/>
Median Income: <input type="number" name="Median_Income"/><br/>
<input type="submit" value="Submit"/>
</form>

{%if d%}
<li> {{d.Neighborhood}} </li>
<li> {{d.Population}} </li>
<li> {{d.Home_Value}} </li>
<li> {{d.Median_Income}} </li>
<p> has been inserted </p>
{%endif%}
{%if incomplete%}
{{incomplete}}
{%endif%}
</body>

</html>
